@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  display: block;
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

:root {
  --ff-default: 'Titillium Web', sans-serif;

  --fs-default: 1rem;
  --fs-small: calc(var(--fs-default) * .85);
  --fs-medium: calc(var(--fs-default) * 1.25);
  --fs-big: calc(var(--fs-default) * 1.5);
  --fs-large: calc(var(--fs-default) * 2);

  --clr-primary: rgb(82, 97, 107);
  --clr-secondary: rgb(201, 214, 223);
  --clr-accent: rgb(240, 245, 249);
  --clr-accent-dark: rgb(30, 32, 34);
}

body {
  font-family: var(--ff-default);
  background-color: var(--clr-accent);
}


#root, .content {
  width: 100%;
}

.container {
  width: min(90%, 40rem);
  margin-inline: auto;
}

form, fieldset, nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

form, fieldset {
  gap: .5rem

}

label{
  font-weight: 500;
}

input {
  border: 1px solid var(--clr-secondary);
  padding: .5rem;
}

input:focus {
  border: 3px solid var(--clr-primary);

}

form, nav {
  background-color: white;
  
}

form:not(.create-post-form) {  
  padding: 2rem;
  
}

form legend {
  font-size: var(--fs-large);
  color: var(--clr-primary);
  font-weight: 700;
  text-align: center;
}

form button {
  background-color: var(--clr-primary);
  padding: .2rem;
  font-size: var(--fs-big);
  text-align: center;
  font-weight: 600;
  color: white;  
}

form button:hover, .form-footer a:hover {
  cursor: pointer;
  opacity: .7;
}

.msg-error {
  color: red;
  margin: 1rem;  
  font-style: italic;
}

.google-btn {
  display: flex;
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  align-content: center;
  justify-content: center;
}

svg{
  max-width: 2rem;
}

.form-footer {
  text-align: center;
  margin-top: 2rem;
}

.form-footer p {
  opacity: .7;
}

.form-footer a {
  font-size: var(--fs-big);
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-block: 2rem;
}

nav {
  padding: 2rem;
  position: relative;
}

nav li img , nav li svg{
  max-width: 2rem;
}

nav li svg {
  fill: var(--clr-primary);
  margin-inline: auto;
}

textarea {
  word-wrap:break-word;   
}


nav li:hover{
  cursor: pointer;
  background-color: var(--clr-accent);
  opacity: .7;

}

.avatar {
  border-radius: 50%;
  aspect-ratio: 1 / 1 ;
}


nav ul {
  text-align: center;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

.logo {
  align-items: center;  
  font-size: var(--fs-large);
  font-weight: 900;
  letter-spacing: .2rem;
  display: none;
  color: var(--clr-primary);
  margin-block: auto;
}

.background-create-post-form {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 1111;
  position: fixed;
  display: flex;
  justify-content: center; 
}
.create-post-form {
    z-index: 11111;
    padding: 1rem;
    min-width: 60%;    
    position: fixed;
    top: 20%;
    gap: 1rem;
    border-radius: .5rem;
}

.cpf-header h1 {
  font-size: var(--fs-big);
  font-weight: 600;
}

.cpf-header, .cpf-user-info {
  display: flex;
}

.cpf-header {  
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;  
}

.cpf-user-info {  
  margin-bottom: 1rem;
  font-size: var(--fs-medium);
  font-weight: 600;
}

.cpf-header svg:hover {
  cursor: pointer;
  background-color: var(--clr-accent);
  border-radius: 50%; 
  aspect-ratio: 1 / 1 ;
}

.create-post-form textarea {
  word-wrap:break-word;  
  background-color: var(--clr-accent);
  padding: .3rem;
}

.cpf-footer {
  display: flex;
  justify-content: flex-end;
}

.cpf-footer button {
  padding: .1rem 2rem;
}


.btn-disabled {
  opacity: .7;
}

.btn-disabled:hover {
  cursor: not-allowed;
}

.auth-form {
  max-width: 50rem;
  margin-inline: auto;
}

.block {
  padding: 1rem;
  font-weight: 550;  
}

.block > *{
  margin-bottom: 1rem;
}


.block-header {
  display: flex;
  justify-content: space-between;
}


.block-header-info, .block-create-post button {
  display: flex;
  gap: 1rem;
  align-items: center;  
  margin-bottom: .5rem;
}

.block-header img {
  max-width: 3rem;
}

.block-header h1, .block-create-post button h1 {
  font-size: var(--fs-medium);
  font-weight: 600;
}

.block-header svg , .block-create-post button svg{
    fill: var(--clr-primary);
    max-width: 2.5rem;
}

.block-header h2 , .block-create-post button h2{
  font-weight: 600;
  opacity: .7;
}

.block, .block-create-post {
  border-radius: .5rem;
  background-color: white;  
}

.block-create-post {
  padding: 1rem;
}

.block-header svg:hover {
  background-color: var(--clr-accent);
  border-radius: .3rem;
  cursor: pointer;
}

.block-create-post button {
  width: 100%;
}

.block-create-post:hover  {
  cursor: pointer;
  opacity: .7;
}

.block-footer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.block-footer-info {
  border-bottom: 1px solid lightgray;
  padding-bottom: .5rem;
}

.block-footer h3, .block-footer button {
  opacity: .7;
}

.block-footer button {
  text-align: center;
  flex-basis: 100%;
  padding: .5rem 1rem;
}

.block-footer button:hover {
  cursor: pointer;
  opacity: .7;
  background-color: var(--clr-primary);
  color: white;
}

.active-comment:hover {
  text-decoration: underline;
  cursor: pointer;
}

.posts {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comments {
  border-top: 1px solid lightgray;
  padding-top: .5rem;
}

.comment {
  display: flex;
  margin-bottom: 2rem;
}

.comment img {
  max-width: 3rem;
  max-height: 3rem;
}

.comment-body {
  flex-direction: column;
  text-decoration: none;
  background-color: var(--clr-accent);  
  margin-left: .5rem;
  border-radius: .5rem;
  width: min(15rem, 100%);
  position: relative;
}

.comment-buttons {
  position: absolute;
  bottom: -35%;
  right: 5%;
  font-size: var(--fs-small);
  display: flex;
  gap: 1rem;
}
.comment-buttons button {
  padding: 0;
}
.comment-buttons button:hover{
  background-color: transparent;
  color: var(--clr-primary);
  text-decoration: underline;
}

.comments h1 {
  margin-block-end: 2rem;
  opacity: .7;
}

.comment-body h2 {
  font-weight: 650;
}

.comment-body p {
  font-weight: 500;
}

form .avatar {
  max-width: 3rem;
  max-height: 3rem;
}

.comment-form fieldset, .comment-body p, .comment-body{
  padding: .5rem;
}

.comment-form fieldset{
    flex-basis: 100%;
    border: 1px solid var(--clr-secondary);
}

.comment-form button {
  font-size: var(--fs-default);
  margin-left: auto;  
  padding: .5rem 2rem;
  opacity: 1;
}

.comment-form {
  flex-direction: row;
  justify-content: flex-start;
  padding-inline: 0 !important;
}

.post {
  position: relative;
}

.hidden-menu {
  position: absolute;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: .5rem;
  border-radius: .5rem;
  font-weight: 500;
  z-index: 111;
}

.post-menu {
  right: min(20%, 5rem);
  top: 20%; 
}

.user-menu {
  display: flex;
  flex-direction: column;
  right: 5%;
  top: 90%;
  gap: 0;
}

.user-menu  li {
  padding: .5rem 1rem;
  font-size: var(--fs-medium);
}

.post-menu li {
  padding: 1rem;
  border-radius: .5rem;

}

.post-menu li:hover {
  cursor: pointer;

  background-color: var(--clr-accent);
}

.comment-edit-form {
  padding: 0 !important;
}
.comment-edit-form fieldset {
  background-color: white;
}
.comment-edit-form {
  flex-direction: column;
  background-color: transparent;
}

.edit-form {
  margin-top: 0 !important;
}

.edit-form .avatar {
  max-width: 20%;
  max-height: 20%;
}

@media (min-width: 40rem ) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: flex;
  }
  .auth-form {
    margin-top: 5rem;
  }
}

@media (max-width: 40rem ) {
  .create-post-form {
    width: 100%;
  }

  .login-form {
    height: 100vh;
  }
}



